
.main .fas{
    font-size:5rem;
    color:white;
}

.main{
    margin-top:3rem;
    color:white;
}

h1{
    text-transform: uppercase;
    color:white;
}

.desc {
    text-transform: uppercase;
}

.details{
    color:white;
}


footer{
    position: absolute;
    bottom:5px;
    right:5px;
    font-size:0.8rem;
    color:rgb(206, 206, 206);
}